{
  "CN": "etcd",
  "hosts": [
    {% for ip in SSL_hosts.etcd -%}
      "{{ip}}",
    {% endfor -%}
    "127.0.0.1"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
 },
  "names": [
   {
      "C": "CN",
      "L": "BeiJing",
      "ST": "BeiJing",
      "O": "etcd",
      "OU": "Etcd Security"
   }
 ]
}
