#!/usr/bin/env bash

#生成bootstrap-kubelet.kubeconfig配置文件,修改api-server地址
kubectl config set-cluster kubernetes \
    --certificate-authority=../../cfssl/generate_files/ca.pem \
    --embed-certs=true \
    --server="https://{{vip}}:{{ha_port}}" \
    --kubeconfig=bootstrap-kubelet.kubeconfig

kubectl config set-credentials tls-bootstrap-token-user \
    --token={{token_id}}.{{token_secret}} \
    --kubeconfig=bootstrap-kubelet.kubeconfig

kubectl config set-context tls-bootstrap-token-user@kubernetes \
    --cluster=kubernetes \
    --user=tls-bootstrap-token-user \
    --kubeconfig=bootstrap-kubelet.kubeconfig

kubectl config use-context tls-bootstrap-token-user@kubernetes \
    --kubeconfig=bootstrap-kubelet.kubeconfig
