#!/usr/bin/env bash

JWT_TOKEN=$(kubectl -n kube-system get secret/kube-proxy \
    --output=jsonpath='{.data.token}' | base64 -d)

if [ ! -n "$JWT_TOKEN" ]; then 
    echo "JWT_TOKEN IS NULL, Please check!!!"
    exit 1
else
echo "token: ${JWT_TOKEN:0:20}..."
kubectl config set-cluster kubernetes \
    --certificate-authority=../../cfssl/generate_files/ca.pem \
    --embed-certs=true \
    --server="https://{{vip}}:{{ha_port}}" \
    --kubeconfig=kube-proxy.kubeconfig

kubectl config set-credentials kubernetes \
    --token=${JWT_TOKEN} \
    --kubeconfig=kube-proxy.kubeconfig

kubectl config set-context kubernetes \
    --cluster=kubernetes \
    --user=kubernetes \
    --kubeconfig=kube-proxy.kubeconfig

kubectl config use-context kubernetes \
    --kubeconfig=kube-proxy.kubeconfig
fi

